.homeSection {
  display: flex;
  padding: 30px;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 50px auto;
}
.smallerHomeSection {
  width: 90%;
}
.homeHeading {
  margin-top: 50px;
  margin-bottom: -10px;
}
